
html {
	font-size: 1.3rem;
	font-family: 'Helvetica';
	scroll-padding-top: 100px;
}
		
	*{ 
		margin:0px;
		padding:0px;
		text-indent:0px;
	}
	body{
		width: 100%;
		display:block;
	}
	header{
        width: 100%;
        position: fixed;        
        background: #FFFF66;
	}
	nav{
		position:fixed;
		width:100%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	h2{
		text-align:center;
	}
#pgcontent {
	background-image: linear-gradient(to right,#FFFF66, #1E90FF);
}
p {
	border: 1px solid lightyellow;
	border-radius: 100px;
	overflow: auto;
	padding: 1.9rem;
	background-image:none;
	background-color:lightgrey;
	margin:14px;
}
#promotii p{
	border:none;
}
#promotii {
	border: 1px solid lightyellow;
	border-radius: 100px;
	overflow: auto;
	padding: 1.9rem;
	background-image: none;
	background-color: lightgrey;
}
	ul{
		list-style-position:inside;
	}
		ul.menu > li, ul.menu > li > ul.submenu > li {
			display: block;
			font-size: 1.2rem;
			font-weight: bold;
			height: 1.2rem;
			line-height: 1.2rem;
			text-align: center;
			list-style-type: none;
			overflow: hidden;
		}
	ul.menu>li{
	 float:left;
	 width:25%;
	}
	ul.submenu>li{
	 width:100%;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:black;
	}
	ul.menu>li:nth-of-type(even) a, ul.menu>li:nth-of-type(even) div{
		background:#1E90FF;
	}
	ul.menu>li:nth-of-type(odd) a, ul.menu>li:nth-of-type(odd) div{
		background:#FFFF66;
	}

	ul.menu>li>ul.submenu{
		position:relative;
		top:0px;
	}

	ul.menu>li>ul.submenu>li
	{
		border-top:1px solid black;
	}
	ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:1px solid black;
	}

	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:yellow;
	}
	ul.menu>li:hover{
		overflow:visible;
	}

	main {
		background: lightgrey;
	}
	
	
	@media screen and (min-width:400px) and (max-width:700px){
		ul.menu>li{
		 width:25%;
		}

		ul.menu>li:hover ul.submenu{
			width:100vw;
			position:absolute;
			left:0px;
			top:1.2rem;
			border-top:1px solid blue;
			border-bottom:1px solid yellow;
		}

			ul.menu > li:nth-of-type(even):hover ul.submenu {
				background: #1E90FF;
			}
			ul.menu > li:nth-of-type(odd):hover ul.submenu {
				background: #FFFF66;
			}
		ul.menu>li:hover ul.submenu>li{
			font-size:0.9rem;
			float:left;
			width:20%;
			border:none;
		}
		main {
			padding-top: 6.8rem;
		}

		body {
			background-color: #1E90FF;
		}
		html {
			scroll-padding-top: 140px;
		}
	}
	@media screen and (min-width:700px) {
		main {
			padding-top: 4.5rem;
			display: flex;
			min-height:90vh;
			
		}
		#bgr1 {
			flex-basis: 25%;
			background-color: #FFFF66;
			background-image: url("../imag/fotbalist.png");
			background-repeat: round;
		}
		#pgcontent {
			flex-basis: 50%;
			left: 5px;
			text-indent: 5%;
		}
		#bgr2 {
			flex-basis: 25%;
			background: #1E90FF;
			background-image: url("../imag/baschet.png");
			background-repeat: round;
		}
		body {
			background: #1E90FF;
		}
	}
@media screen and (max-width:400px){
	html {
		scroll-padding-top: 150px;
	}
	main {
		padding-top: 6.9rem;
	}
	body {
		background-color: #1E90FF;
	}
}
	
